In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [2]:
bov   = pd.read_csv('data/raw/ibov.csv')
dol   = pd.read_csv('data/raw/dolar_total.csv') 
dj    = pd.read_csv('data/raw/dj.csv')
selic = pd.read_csv('data/raw/taxa_selic.csv') 
vale  = pd.read_csv('data/raw/vale_full.csv')

In [41]:
opcao1 = pd.read_csv('data/processed/sentiment_op1.csv')
opcao1.rename(columns = {'Data': 'data'}, inplace = True)

In [42]:
opcao2 = pd.read_csv('data/processed/sentiment_op2.csv')
opcao2.rename(columns = {'Data': 'data'}, inplace = True)

In [43]:
opcao3 = pd.read_csv('data/processed/sentiment_op3.csv')
opcao3.rename(columns = {'Data': 'data'}, inplace = True)

### Vale + Selic

In [6]:
vale_selic = vale.merge(selic, on = 'data')
vale_selic.rename(columns = {'valor': 'selic'}, inplace = True)
vale_selic.to_csv('data/processed/vale_selic.csv', index = False)
vale_selic.head()

       data  preabe  premax  premin  premed  preult  preofc  preofv   selic
0  20130116   41.23   41.23   40.31   40.60   40.90   40.83   40.90  0.0725
1  20130117   40.61   41.24   40.55   40.91   40.98   40.98   41.05  0.0725
2  20130118   41.09   41.30   40.53   40.77   40.61   40.61   40.64  0.0725
3  20130121   40.69   40.77   40.29   40.49   40.58   40.41   40.58  0.0725
4  20130122   40.69   41.15   40.45   40.88   41.15   40.98   41.15  0.0725

### Vale + Ibov

In [14]:
vale_bov = vale.merge(bov[['data', 'Último']], on = 'data')
vale_bov.rename(columns={'Último': 'ibov'}, inplace=True)
vale_bov.to_csv('data/processed/vale_bov.csv', index = False)
vale_bov.head()

       data  preabe  premax  premin  premed  preult  preofc  preofv      ibov
0  20130102   43.00   44.76   43.00   44.24   44.10   44.09   44.10  62550.10
1  20130103   43.50   44.07   43.35   43.64   43.35   43.34   43.35  63312.46
2  20130104   43.34   43.35   42.11   42.58   42.53   42.50   42.53  62523.06
3  20130107   42.53   42.88   41.63   42.04   41.84   41.80   41.84  61932.54
4  20130108   41.77   42.23   41.46   41.72   41.51   41.51   41.53  61127.84

### Vale + Ibov + DJ

In [17]:
vale_bov_dj = vale_bov.merge(dj, on='data')
vale_bov_dj.to_csv('data/processed/vale_bov_dj.csv', index = False)
vale_bov_dj.head()

,data,preabe,premax,premin,premed,preult,preofc,preofv,ibov,dowjones
0,20130102,43.00,44.76,43.00,44.24,44.10,44.09,44.10,62550.10,13412.55
1,20130103,43.50,44.07,43.35,43.64,43.35,43.34,43.35,63312.46,13391.36
2,20130104,43.34,43.35,42.11,42.58,42.53,42.50,42.53,62523.06,13435.21
3,20130107,42.53,42.88,41.63,42.04,41.84,41.80,41.84,61932.54,13384.29
4,20130108,41.77,42.23,41.46,41.72,41.51,41.51,41.53,61127.84,13328.85

### Vale + Ibov + Dolar

In [31]:
vale_bov_dol = vale_bov.merge(dol, on='data', how = 'left')
vale_bov_dol.rename(columns={'abertura': 'aber_dol', 'fechamento': 'fech_dol'}, inplace=True)
vale_bov_dol.to_csv('data/processed/vale_bov_dol.csv', index=False)
vale_bov_dol.head()

,data,preabe,premax,premin,premed,preult,preofc,preofv,ibov,aber_dol,fech_dol
0,20130102,43.00,44.76,43.00,44.24,44.10,44.09,44.10,62550.10,2.0409,2.0415
1,20130103,43.50,44.07,43.35,43.64,43.35,43.34,43.35,63312.46,2.0458,2.0464
2,20130104,43.34,43.35,42.11,42.58,42.53,42.50,42.53,62523.06,2.0419,2.0425
3,20130107,42.53,42.88,41.63,42.04,41.84,41.80,41.84,61932.54,2.0306,2.0312
4,20130108,41.77,42.23,41.46,41.72,41.51,41.51,41.53,61127.84,2.0280,2.0286

### Vale + Ibov + Selic

In [33]:
vale_bov.selic = vale_bov.merge(selic, on = 'data')
vale_bov.selic.rename(columns = {'valor': 'selic'}, inplace = True)
vale_bov.selic['selic'] = vale_bov.selic['selic'] * 100
vale_bov.selic.to_csv('data/processed/vale_bov_sel.csv', index=False)
vale_bov.selic.head()

,data,preabe,premax,premin,premed,preult,preofc,preofv,ibov,selic
0,20130116,41.23,41.23,40.31,40.60,40.90,40.83,40.90,61787.35,7.25
1,20130117,40.61,41.24,40.55,40.91,40.98,40.98,41.05,62194.06,7.25
2,20130118,41.09,41.30,40.53,40.77,40.61,40.61,40.64,61956.14,7.25
3,20130121,40.69,40.77,40.29,40.49,40.58,40.41,40.58,61899.71,7.25
4,20130122,40.69,41.15,40.45,40.88,41.15,40.98,41.15,61692.29,7.25

### Vale + Ibov + Sentimento op1

In [51]:
vale_bov_opcao1_full = vale_bov.merge(opcao1[['data', 'Sentiment', 'qtde']], on = 'data', how = 'left')
vale_bov_opcao1_full.fillna(0, inplace=True)
vale_bov_opcao1_full.to_csv('data/processed/vale_bov_opcao1.csv', index = False)
vale_bov_opcao1_full.head()

,data,preabe,premax,premin,premed,preult,preofc,preofv,ibov,Sentiment,qtde
0,20130102,43.00,44.76,43.00,44.24,44.10,44.09,44.10,62550.10,1.312500,4.0
1,20130103,43.50,44.07,43.35,43.64,43.35,43.34,43.35,63312.46,0.000000,1.0
2,20130104,43.34,43.35,42.11,42.58,42.53,42.50,42.53,62523.06,0.000000,0.0
3,20130107,42.53,42.88,41.63,42.04,41.84,41.80,41.84,61932.54,0.156250,2.0
4,20130108,41.77,42.23,41.46,41.72,41.51,41.51,41.53,61127.84,-0.090909,2.0

### Vale + Ibov + Sentimento op2

In [54]:
vale_bov_opcao2_full = vale_bov.merge(opcao2.drop(columns=['Polaridade', 'Subjetividade']), on = 'data', how = 'left')
vale_bov_opcao2_full.fillna(0, inplace=True)
vale_bov_opcao2_full.to_csv('data/processed/vale_bov_opcao2.csv', index = False)
vale_bov_opcao2_full.head()

,data,preabe,premax,premin,premed,preult,preofc,preofv,ibov,Sentimento_Bom,Sentimento_Neutro,Sentimento_Ruim,Quantidade
0,20130102,43.00,44.76,43.00,44.24,44.10,44.09,44.10,62550.10,3.0,1.0,0.0,4.0
1,20130103,43.50,44.07,43.35,43.64,43.35,43.34,43.35,63312.46,0.0,1.0,0.0,1.0
2,20130104,43.34,43.35,42.11,42.58,42.53,42.50,42.53,62523.06,0.0,0.0,0.0,0.0
3,20130107,42.53,42.88,41.63,42.04,41.84,41.80,41.84,61932.54,0.0,2.0,0.0,2.0
4,20130108,41.77,42.23,41.46,41.72,41.51,41.51,41.53,61127.84,0.0,2.0,0.0,2.0

### Vale + Ibov + Sentimento op3

In [56]:
vale_bov_opcao3_full = vale_bov.merge(opcao3, on = 'data', how = 'left')
vale_bov_opcao3_full.fillna(0, inplace=True)
vale_bov_opcao3_full.to_csv('data/processed/vale_bov_opcao3.csv', index = False)
vale_bov_opcao3_full.head()

,data,preabe,premax,premin,premed,preult,preofc,preofv,ibov,Polaridade,Subjetividade,qtde
0,20130102,43.00,44.76,43.00,44.24,44.10,44.09,44.10,62550.10,2.500000,7.333333,4.0
1,20130103,43.50,44.07,43.35,43.64,43.35,43.34,43.35,63312.46,0.000000,1.000000,1.0
2,20130104,43.34,43.35,42.11,42.58,42.53,42.50,42.53,62523.06,0.000000,0.000000,0.0
3,20130107,42.53,42.88,41.63,42.04,41.84,41.80,41.84,61932.54,0.236364,3.054545,2.0
4,20130108,41.77,42.23,41.46,41.72,41.51,41.51,41.53,61127.84,-0.100000,2.100000,2.0